[submodule "static/programs/fridgegames"]
	path = static/programs/fridgegames
	url = https://github.com/JakeTrock/fridgegames
[submodule "static/programs/newSprint"]
	path = static/programs/newSprint
	url = https://github.com/JakeTrock/newSprint
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/JakeTrock/risotto.git
[submodule "static/programs/webSven"]
	path = static/programs/webSven
	url = https://github.com/JakeTrock/webSven
