[submodule "static/programs/fridgegames"]
	path = static/programs/fridgegames
	url = https://github.com/JakeTrock/fridgegames
[submodule "static/programs/newSprint"]
	path = static/programs/newSprint
	url = https://github.com/JakeTrock/newSprint
